<%= form_for([:admin, @working_hour]) do |f| %>
  <% if @working_hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@working_hour.errors.count, "ошибка") %>:</h2>

      <ul>
      <% @working_hour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :start_hour %>
    <%= f.number_field :start_hour, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :start_minute %>
    <%= f.number_field :start_minute, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :end_hour %>
    <%= f.number_field :end_hour, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :end_minute %>
    <%= f.number_field :end_minute, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
