<tr>
  <td><%= order.id %></td>
  <td><%= order.address %></td>
  <td><%= order.status.text %></td>
  <td><%= order.scheduled_for %></td>
  <td>
    <%= link_to 'Изменить', edit_admin_order_path(order), class: 'btn btn-default' %>
    <%= link_to 'Удалить', order, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
  </td>
</tr>
