<tr>
  <td><%= order.id %></td>
  <td><%= order.address %></td>
  <td><%= order.status.text %></td>
  <td><%= order.created_at.try(:to_formatted_s, :short) %></td>
  <td><%= order.scheduled_for.try(:to_formatted_s, :short) %></td>
  <td>
    <%= link_to 'Изменить', edit_admin_order_path(order), class: 'btn btn-default' %>
    <%= link_to 'Удалить', [:admin, order], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
  </td>
</tr>
