<h1>Заказы</h1>

<div class="form-group">
  <%= link_to 'Новый заказ', new_admin_order_path, class: 'btn btn-default' %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>№</th>
      <th>Адрес</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, [:admin, order] %></td>
        <td><%= link_to order.address, [:admin, order] %></td>
        <td>
          <%= link_to 'Изменить', edit_admin_order_path(order), class: 'btn btn-default' %>
          <%= link_to 'Удалить', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
