<h1>Заказ №<%= @order.id %></h1>

<div class="form-group">
  <%= link_to 'Изменить', edit_admin_order_path(@order), class: 'btn btn-primary' %>
</div>

<p>
  <strong>Адрес: </strong> <%= @order.address %>
</p>

<p>
  <strong>Пользователь: </strong> <%= @order.user.full_name %>
</p>

<p>
  <strong>Статус: </strong> <%= t(@order.status) %>
</p>

<p>
  <strong>Координаты: </strong> <%= @order.to_coordinate_s %>
</p>

<% if @order.scheduled_for? %>
  <p>
    <strong>Время доставки: </strong> <%= l(@order.scheduled_for, format: :long) %>
  </p>
<% end %>

<p>
  <strong>Телефон заказчика: </strong> <%= @order.user.phone_number %>
</p>

<p>
  <strong>Курьер: </strong> <%= @order.courier.try(:name) %>
</p>

<h2>Состав</h2>

<table class="table">
  <thead>
    <th>ID</th>
    <th>Наименование</th>
    <th>Описание</th>
    <th>Количество</th>
    <th>Цена</th>
  </thead>
  <tbody>
    <% @order.line_items.each do |item| %>
      <tr>
        <td><%= item.dish.id %></td>
        <td><%= item.dish.name %></td>
        <td><%= truncate(item.dish.description, length: 15) %></td>
        <td><%= item.quantity %></td>
        <td><%= item.total_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
