<h1>Ингридиенты</h1>

<div class="form-group">
  <%= link_to 'Новый ингридиент', new_admin_ingredient_path, class: 'btn btn-default' %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Название</th>
      <th>Изображение</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |admin_ingredient| %>
      <tr>
        <td><%= admin_ingredient.name %></td>
        <td><%= image_tag admin_ingredient.image_url %></td>
        <td>
          <%= link_to 'Изменить', edit_admin_ingredient_path(admin_ingredient), class: 'btn btn-default' %>
          <%= link_to 'Удалить', [:admin, admin_ingredient], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
