<%= form_for [:admin, @courier] do |f| %>
  <% if @courier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@courier.errors.count, "error") %> prohibited this courier from being saved:</h2>

      <ul>
      <% @courier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :delivery_point %>
    <%= f.select :delivery_point_id, DeliveryPoint.all.collect { |point| ["#{point.latitude}, #{point.longitude}", point.id] }, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
