<h1>Аналитика</h1>

<div class="btn-group" role="group" aria-label="...">
  <%= link_to 'Весь период', {}, class: 'btn btn-default' %>
  <%= link_to 'Год', { period: 'year' }, class: 'btn btn-default' %>
  <%= link_to 'Месяц', { period: 'month' }, class: 'btn btn-default' %>
  <%= link_to 'Неделя', { period: 'week' }, class: 'btn btn-default' %>
  <%= link_to 'День', { period: 'day' }, class: 'btn btn-default' %>
</div>

<h2>Выполненные заказы</h2>

<table class="table">
  <thead>
    <th>Новые</th>
    <th>Повторные</th>
    <th>Всего</th>
    <th>Выручка</th>
    <th>Скидки</th>
    <th>С баланса</th>
    <th>Итого</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @current_period.new_orders %> (<%= increase(@current_period.new_orders, @previous_period.new_orders) %>%)</td>
      <td><%= @current_period.repeated_orders %> (<%= increase(@current_period.repeated_orders, @previous_period.repeated_orders) %>%)</td>
      <td><%= @current_period.total_orders %> (<%= increase(@current_period.total_orders, @previous_period.total_orders) %>%)</td>
      <td><%= @current_period.revenue %> (<%= increase(@current_period.revenue, @previous_period.revenue) %>%)</td>
      <td><%= @current_period.discount %> (<%= increase(@current_period.discount, @previous_period.discount) %>%)</td>
      <td><%= @current_period.balance_discount %> (<%= increase(@current_period.balance_discount, @previous_period.balance_discount) %>%)</td>
      <td><%= @current_period.total_sum %> (<%= increase(@current_period.total_sum, @previous_period.total_sum) %>%)</td>
    </tr>
  </tbody>
</table>
