<h1>Пользователь: <%= @user.full_name %></h1>

<div class="form-group">
  <strong>Имя:</strong> <%= @user.full_name %>
</div>

<div class="form-group">
  <strong>Почта:</strong> <%= @user.email %>
</div>

<div class="form-group">
  <strong>Телефон:</strong> <%= @user.phone_number %>
</div>

<div class="form-group">
  <strong>Баланс:</strong> <%= @user.balance %>
</div>

<div class="form-group">
  <strong>Скидка:</strong> <%= @user.discount %>%
</div>

<div class="form-group">
  <strong>Промо код использован:</strong> <%= @user.promo_used %>
</div>

<h2>Заказы</h2>

<% if @user.orders.any? %>
  <table class="table">
    <thead>
      <th>№</th>
      <th>Адрес</th>
      <th>Статус</th>
      <th>Время доставки</th>
      <th></th>
    </thead>
    <tbody>
      <%= render @user.orders %>
    </tbody>
  </table>
<% end %>
