<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>Название</th>
      <th>Описание</th>
      <th>Цена</th>
      <th>Изображение</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= dish.id %></td>
        <td><%= link_to dish.name, [:admin, dish] %></td>
        <td><%= dish.description %></td>
        <td><%= dish.price %> р.</td>
        <td><%= dish.image.present? %></td>
        <td>
          <%= link_to 'Изменить', edit_admin_dish_path(dish), class: 'btn btn-primary' %>
          <%= link_to 'Удалить', [:admin, dish], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @dishes %>
