<%= form_for([:admin, @dish]) do |f| %>
  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish.errors.count, "ошибка") %>:</h2>

      <ul>
      <% @dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :subtitle %>
    <%= f.text_area :subtitle, class: 'form-control' %>
  </div>

  <% if @dish.main? || @dish.lunch? %>
    <%= f.label :ingredients %>

    <div class="form-group">
      <%= f.add_nested_fields_link :ingredients, 'Добавить', class: 'btn btn-default' %>
    </div>

    <div class="form-group">
      <%= f.nested_fields_for :ingredients do |ff| %>
        <div class="form-group dish-select">
          <%= ff.collection_select(:id, Ingredient.all, :id, :name, {}, class: 'form-control') %>
          <%= ff.remove_nested_fields_link 'Удалить', class: 'btn btn-danger' %>
        </div>
      <% end %>
    </div>

    <%= f.label :badges %>

    <div class="form-group">
      <%= f.add_nested_fields_link :badges, 'Добавить', class: 'btn btn-default' %>
    </div>

    <div class="form-group">
      <%= f.nested_fields_for :badges do |ff| %>
        <div class="form-group dish-select">
          <%= ff.collection_select(:id, Badge.all, :id, :name, {}, class: 'form-control') %>
          <%= ff.remove_nested_fields_link 'Удалить', class: 'btn btn-danger' %>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <div class="checkbox">
        <%= f.label :hidden do %>
          <%= f.check_box :hidden %> Скрыть
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :image %>
    <% if @dish.image? %>
      <%= image_tag @dish.image_url, class: 'form-image' %>

      <div class="checkbox">
        <%= f.label :remove_image do %>
          <%= f.check_box :remove_image %> Удалить изображение
        <% end %>
      </div>
    <% else %>
      <%= f.file_field :image %>
    <% end %>
  </div>

  <div class="form-group actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
